h1{
    font-family:Georgia;
    font-size:20px;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
table{
    text-align:center;
    border-collapse: separate;
    border-spacing: 10px;
    font-size:20px;
}
table td{
 /* border-bottom: 2px solid black; */
  padding: 12px 150px 12px 150px;
  font-weight:bold;
}
img{
    width:300px;
    height:200px;
    border: 2px solid black;
}
body{
    background-image:url("../pic/background.png")
}
h3{
    text-align:center;
    font-family:fantasy;
}